body{
    font-family: 'Arima', cursive;
  margin: 0;
  
   
}

h1{
  font-size: 45px;
}





p{
  font-size: 20px ;
}
.top-banner{
    background:linear-gradient(rgba(0, 0, 0, 0.199) , rgba(0, 0, 0, 0.534)), url(background.jpeg);
    background-size: cover;
margin: 0;
height: 31rem;
width: 100%;
text-align: left;
padding-top: 7rem;

overflow: hidden;
}
.headding{
  color: #FEFFFE;
      width: 30rem;
      text-shadow: 0.1rem 0.1rem 0.144rem black;
      margin-left: 10rem;

}

.donate-now{
  background-color: tomato;
  height: 3rem;
  width: 7rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  box-shadow:0.1rem 0.1rem 0.25rem 0.1rem black ;
  text-shadow: 0.1rem 0.1rem 0.144rem black;
}

.some-information{
  margin-top: 10rem;
}
.information-box{
  padding-left:9rem;
  width: 80%;

}



.information{
  width: 32rem;
  display: inline-block;
}
.how-to-give-zakat{
  display: inline-block;
  margin-left: 2rem;
}
.munazat{
  height: 16rem;
  margin-right: 4rem;
}



.help-section{
  width:100%;
  margin-top: 10rem;

}

.help-title{
  width: 40rem;
  margin: auto;
  text-align: center;


}

.big-box{
  margin-left :auto ;
  text-align: center;

  position: relative;


}
.small-box{
  display: inline-block;
width: 30rem;
height: 20rem;
text-align: left;
background-color: #c961d6d8;
margin-top: 2rem;
margin-left: 2rem;
border-radius: 0.5rem;
transition-duration: 0.2s;
}
.frame-box{
  display: inline-block;
  width: 5rem;
  margin-top:7rem ;
  z-index: 3;
  padding: 1rem;

  

}
.explane-box{
  display: inline-block;
  width:18rem;

}
.small-box:hover{
  height: 20.1rem;
  width: 30.1rem;
  box-shadow: 1px 1px 5px 1px rgb(71, 70, 70);



  

}

.img{
  height: 30rem;
  width: 24rem;
  border-radius: 0.4rem;
  margin-top: 10rem;
  margin-left: 3rem;
}
.donation{
  width: 20rem;
  display: inline-block;
  margin-top:10rem ;
  margin-left:5rem ;
  margin-bottom:10rem ;
  border: 0.11rem solid rgba(185, 173, 173, 0.664);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 5px 1px gray;
  padding: 1rem;

}

.image{
  width: 20rem;
height: 15rem;
border-radius: 0.4rem;

}


.LINK{
  text-decoration: none;
  transition-duration: 1s;
  color: aquamarine;
  transition-property: all ;
}
.LINK:hover{
  color:rgba(224, 152, 18, 0.856);
  border-bottom: 0.1rem solid rgb(179, 168, 168);
}